<!-- mobile-nav -->
<section class="mobile-view nav">
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid nav-bar-section">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav h-100 d-flex flex-column justify-content-around"
          >
            <li class="nav-item" *ngFor="let title of navTitles">
              <button class="nav-btns mx-auto d-block fw-semibold">
                {{ title }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>

<!--   tab-lap-content -->
<div class="tab-view nav" [class.closeNav]="!isNavOpen">
  <div class="row w-100">
    <div class="left-box">
      <div
        class="nav-bar-section h-100 d-flex flex-column justify-content-around align-items-center"
      >
        <button class="nav-btns fw-semibold" *ngFor="let title of navTitles">
          {{ isNavOpen ? title : "" }}
        </button>
      </div>
      <div class="arrow-box cursor-pointer" (click)="toggleNav()"></div>
    </div>
    <div class="right-box col-12">
      <app-main-body></app-main-body>
    </div>
  </div>
</div>
