<!-- mobile-nav -->
<section class="mobile-view nav">
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid nav-bar-section">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav h-100 d-flex flex-column justify-content-around"
          >
            <li class="nav-item" *ngFor="let title of navTitles">
              <button class="nav-btns mx-auto d-block fw-semibold">
                {{ title.name }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <app-main-body></app-main-body>
</section>

<!--   tab-lap-content -->
<div class="tab-view nav" [class.closeNav]="!isNavOpen">
  <div class="d-flex w-100">
    <div class="left-box">
      <div
        class="nav-bar-section h-100 d-flex flex-column justify-content-around align-items-center"
      >
        <ng-container *ngFor="let title of navTitles; let i = index">
          <button
            class="nav-btns"
            (click)="updateSection(i)"
            [class.active]="currentSection === i"
          >
            <h4 class="fw-bolder mb-0">
              {{ isNavOpen ? title.name : "" }}
              <img
                *ngIf="!isNavOpen"
                height="30px"
                class="image-color"
                [src]="'/assets/icons/' + title.icon"
                alt=""
              />
            </h4>
          </button>
        </ng-container>
      </div>
      <div
        class="arrow-box cursor-pointer d-flex align-items-center justify-content-center"
        (click)="toggleNav()"
      >
        <img
          [class.reverse]="!isNavOpen"
          src="/assets/icons/arrow-left-solid.svg"
          alt=""
        />
      </div>
    </div>
    <div class="right-box" (scroll)="updateScroll()">
      <app-main-body></app-main-body>
    </div>
  </div>
</div>
