<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="img-box">
          <img src="/assets/pictures/Portfolio_Image.jpg" alt="">
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="content-box">
          <h1 class="fw-bold">Software Developer</h1>
          <p>
          Dynamic and versatile software developer with proficiency in HTML,CSS, JavaScript, ReactJS, C, Java, Python, and SQL. Possessing a solid foundation in computer science principles and programming languages, I am adept at developing and implementing efficient solutions to complex problems.
        </p>

        <div data-aos="flip-up" className="button button-wrapper">
          <a
          target="_blank"
          href="https://drive.google.com/file/d/1-Dq_7oaVtA-kJWN7DXNLkejM2PdBa5VY/view?usp=sharing"
          rel="noreferrer"
          >
            <span>Click to View Resume 😂 :  </span>
          </a>
          <button  id="resbutton">
            Resume
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
